<% bookCoverClass = locals.charge ? 'book-cover-large' : '' %>
<% bookGridClass = locals.charge ? 'book-grid-large' : '' %>

<div class="book-row book-grid <%= bookGridClass %>">
    <% books.forEach(book => { %>
        <a class="book-and-title" href="/books/<%= book.id %>">            
            <img class="book-row book-grid <%= bookGridClass %>" src="<%= book.coverImagePath %>" alt="">
            <span><%= book.title %></span>
        </a>
    <% }) %>
</div>